@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


body {
  @apply bg-black text-white; /* Tailwind-like utility classes */
  margin: 0; /* Ensure no default margin */
  font-family: Arial, sans-serif; /* Default font */
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #e9ecef;
  color: #007bff;
  transform: translateY(-2px);
}